.icon {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 1rem;
    border: 1px dashed black;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-name-price {
    display: flex;
    justify-content: space-around;
}

.add-menu-item-fields {
    display: flex;
    flex-direction: column;
}

.form input[type="text"] {
    padding: 0.3rem;
}

.form textarea {
    resize: vertical;
    height: 5rem;
    min-height: 5rem;
    padding: 0.3rem;
}

.nameAndPrice {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
}

@media screen and (max-width: 1200px) {
    .img-name-price {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .nameAndPrice {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .img-name-price {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .nameAndPrice {
        padding-left: 0 !important;
    }
}