.item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--surface-color);
    margin-bottom: 1rem;
}

.roles {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.role {
    font-size: 0.8rem;
    padding: 3px 10px;
    color: black;
    background-color: var(--primary-color);
    border-radius: 1rem;
}